@use 'variables';


.footer {
    margin-top: 7rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: variables.$font-fw;
    color: variables.$color-very-dark;

    &__link {
        color: variables.$color-grayish;
        text-decoration: none;
        
        &:hover {
            color: variables.$color-strong;
            text-decoration: underline;
        }
    }
}