
// Colors
$color-strong: #26c0ab;
$color-very-dark: #00494d;
$color-dark-grayish: #5e7a7d;
$color-grayish: #7f9c9f;
$color-light-grayish: #c5e4e7;
$color-very-light: #e5f5f5;
$color-white: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$font-fm: 'Space Mono', monospace;
$font-fz: 24px;
$font-fw: 700;
